{% extends 'base.html' %}
{% block_content %}
<section class="food">
    <div class="container">
        <header>
            <h1>TwojaKuchnia doskonały zbiór przepisów dla Ciebie!</h1>
            <p>Dołącz, wyszukuj i dodawaj przepisy za darmo! </p>
        </header>

        <div class="row">
            <div class="col-sm-6 col-md-5 offset-md-1">
                <figure>
                    <a href="#"><img src="static/img/food 1.jpg" alt="Dobre jedzenie"></a>
                </figure>
            </div>
            
            <div class="col-sm-6 col-md-5">
            
                <figure>
                    <a href="#"><img src="static/img/food 2.jpg" alt="Dobre jedzenie"></a>
                    
                </figure>
            
            </div>
            

            <div class="col-sm-6 col-md-4">
            
                <figure>
                    <a href="#"><img src="static/img/food 3.jpg" alt="Dobre jedzenie"></a>
                    
                </figure>
            
            </div>

            <div class="col-sm-6 col-md-4">
            
                <figure>
                    <a href="#"><img src="static/img/food 4.jpg" alt="Dobre jedzenie"></a>
                    
                </figure>
            
            </div>

            <div class="col-sm-6 col-md-4">
            
                <figure>
                    <a href="#"><img src="static/img/food 5.jpg" alt="Dobre jedzenie"></a>
                    
                </figure>
            
            </div>

            <div class="col-sm-6 col-md-4">
            
                <figure>
                    <a href="#"><img src="static/img/food 6.jpg" alt="Dobre jedzenie"></a>
                    
                </figure>
            
            </div>

            <div class="col-sm-6 col-md-4">
            
                <figure>
                    <a href="#"><img src="static/img/food 7.jpg" alt="Dobre jedzenie"></a>
                    
                </figure>
            
            </div>

            <div class="col-sm-6 col-md-4">
            
                <figure>
                    <a href="#"><img src="static/img/food 8.jpg" alt="Dobre jedzenie"></a>
                    
                </figure>
            
            </div>
            
            <div class="col-sm-6 col-md-3">
            
                <figure>
                    <a href="#"><img src="static/img/food 9.jpg" alt="Dobre jedzenie"></a>
                    
                </figure>
            
            </div>
            
            <div class="col-sm-6 col-md-3">
            
                <figure>
                    <a href="#"><img src="static/img/food 10.jpg" alt="Dobre jedzenie"></a>
                    
                </figure>
            
            </div>					
            
            <div class="col-sm-6 col-md-3">
            
                <figure>
                    <a href="#"><img src="static/img/food 11.jpg" alt="Dobre jedzenie"></a>
                    
                </figure>
            
            </div>						
            
            <div class="col-sm-6 col-md-3">
            
                <figure>
                    <a href="#"><img src="static/img/food 12.jpg" alt="Dobre jedzenie"></a>
                    
                </figure>
            
            </div>	
        
        </div>
        
    </div>	
        
</section>

{% endblock content %}